@charset "UTF-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


/* リセット完了 */


body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
  max-height:100%;
}

.title {
  display:inline-block;
}

.titleCopy {
  font-family:"Jura", serif;
  -webkit-text-stroke: 1px #fff;
  font-size: 50px;
  letter-spacing: 5px;
}

.titleCopy span{
  color:rgb(213, 128, 213);
  font-size:75px;
  font-weight:bold;
}

.header-inner {
  max-width: 1200px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-site-menu {
  margin-left: 20px;
  margin-right: 20px;
  font-family:"Jura", serif;
  font-weight:bolder;
  font-size: 24px;
}

.btn {
  padding: 10px 60px;
  letter-spacing: 3px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #c8c9cd;
  color: #3a3636;
  min-width: 60px;
  overflow: hidden;
}
/* ここからボタンの演出 参考：https://jajaaan.co.jp/css/button/ */
.btn span{
  position:relative;
}

.btn::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  background: linear-gradient(60deg,rgb(90, 90, 255),rgb(255, 190, 70));/* グラデーション */
}

.btn:hover::before{
  -webkit-transform: translateX(-9%) translateY(-25%);
  transform: translateX(-9%) translateY(-25%);
}
/*ここまでボタンの演出*/

.main-container {
  height: 100%;
  margin-right: 40px;
  margin-left: 40px;

  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

}

.color-pallet h2 {
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  font-family: "M PLUS 1p", serif;
  font-weight: 900;
  font-style: normal;
  -webkit-text-stroke: 1px #fff;
}

#colorPicker {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  transform: rotate(45deg);
}

.selectedColor {
  text-align: center;
  margin: 50px 0;
  padding: 50px 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 20%;
}

.partition {
  margin: 20px 0;
  padding: 50px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-basis: 20%;
  height: 500px;
  min-width: 200px;
}

.partition h2 {
  color: #5a5a5a;
  font-family: "M PLUS 1p", serif;
  font-weight: 900;
  font-style: normal;
  -webkit-text-stroke: 1px #fff;
}

.content {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.transColor {
  text-align: center;
  font-size: 20px;
  margin-top: 200px;
}

#lightContrast {
  background-color: #ffffff;
}

#darkContrast {
  background-color: #ffffff;
}

#invertContrast {
  background-color: #ffffff;
}

.footer {
  height: 30px;
  width: 100%;
  background-color: #303030;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ここまで本体のスタイル */

/* ここからボタン内部のスタイル */

.descriptionTitle {
  margin: 0 auto;
}

.descriptionTitle h1{
  font-family:"Jura", serif;
  -webkit-text-stroke: 1px #fff;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}

.descriptionTitle h1 span{
  color:rgb(213, 128, 213);
  font-size:60px;
  font-weight:bold;
}

.descriptionTitle p{
  text-align: end;
  font-family: "Jura", serif;
}

.descriptionBody {
  margin-top: 30px;
  font-family: "M PLUS 1p", serif;
  text-align: center;
}

.descriptionBody span{
  color:#d06262;
}

/* ここからレスポンシブ（幅900px未満に対応させる） */
